<div class="box">
    <h2 class="title is-5">Available Products</h2>
    <div class="columns is-multiline">
        <div class="column is-3" *ngFor="let prod of products">
            <app-product-card [product]="prod" (addToFav)="handleAddToFav($event)" (onCartAction)="handleOnCart($event)"></app-product-card>
        </div>
    </div>


    <h2 class="title is-5">In Cart</h2>
    <div class="columns is-multiline">
        <ng-container *ngFor="let prod of products">
            <div class="column is-3" *ngIf="prod.incart">
                <app-product-card mode="1" [product]="prod" (onCartAction)="handleOnCart($event)"></app-product-card>
            </div>
        </ng-container>

    </div>
</div>