<div class="card ">
    <div class="card-image">
        <figure class="image is-4by3">
            <img [src]="product.image" alt="Placeholder image">
        </figure>
    </div>
    <div class="card-content">
        <p class="title is-5"> {{product.name}} </p>
        <p class="subtitle is-7">{{product.department}} </p>
        <p class="subtitle is-7">{{product.product}} </p>
        <p class="has-text-right">
            <i (click)="onAddToFav()" class="fa" [class.fa-heart-o]="!product.isfav" [class.fa-heart]="product.isfav" [class.fav]="product.isfav"></i>
          <span *ngIf="mode!=1">
            <i (click)="onCartClick()" class="fa fa-shopping-cart" [class.notincart]="!product.incart" [class.incart]="product.incart"></i>
            </span>
            
            <a *ngIf="mode==1" href="javascript:void(0)" (click)="onCartClick()">remove</a>
        </p>
    </div>
    <footer class="card-footer">
        <div class="card-footer-item">
            <div>Price</div>
            <b>{{product.price}}</b>
        </div>
        <div class="card-footer-item">
            <div>Available Color </div>
            <span [style.backgroundColor]="product.color" style="display: inline-block;width:32px;height: 32px;"></span>
        </div>
    </footer>
</div>