<h1> Current Chapter is : {{currentChapter}}</h1>
<div>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita corporis iure maxime cum laborum sed ipsa soluta, sequi molestias assumenda, rem deleniti velit, nostrum earum doloremque harum officiis quis vitae.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita corporis iure maxime cum laborum sed ipsa soluta, sequi molestias assumenda, rem deleniti velit, nostrum earum doloremque harum officiis quis vitae.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita corporis iure maxime cum laborum sed ipsa soluta, sequi molestias assumenda, rem deleniti velit, nostrum earum doloremque harum officiis quis vitae.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita corporis iure maxime cum laborum sed ipsa soluta, sequi molestias assumenda, rem deleniti velit, nostrum earum doloremque harum officiis quis vitae.</p>
   
</div>

<a [routerLink]="['/student/chapter',currentChapter-1]">Prev</a>
<a [routerLink]="['/student/chapter',currentChapter+1]">Next</a>